.car-container{
   position:relative; 
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    
}
.car-container:hover{
    background-color: aliceblue;
}


.car-container img{
    border-radius: 10px;
    width: 320px;
    height: 220px;
}
.add-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 10px;
    bottom: 0;
    background-color: lightsalmon;
    border-radius: 0px 0px 8px 8px;
    border: none;
}
.btn-text{
    margin-right: 8px;
}

.add-card:hover{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(179, 114, 17);
    border: none;
}